/*
@keyframes hamburger-button-top{
	from{
		transform: translateY(0px) rotate(0deg);
	}
	to{
		transform: translateY(11px) rotate(-45deg);
	}
}

@keyframes hamburger-button-bottom{
	from{
		transform: translateY(0px) rotate(0deg);
	}
	to{
		transform: translateY(-11px) rotate(45deg);
	}
}

@keyframes hamburger-button-middle{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}*/






body, html{
	margin: 0;
	padding: 0;
}


header{
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

header .logo{
	height: 35px;
}

.menu-wrapper{
	height: 0;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	right: 221px;
    top: 65px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu-wrapper.opened{
	height: 30%;
	transition: height 1s;
}

.menu-wrapper.closed{
	height: 0;
	transition: height 1s;
}

.menu-content{	
	width: 200px;
	background: #fff;
	padding-bottom: 10px;
	padding-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.menu-content ul{
	margin:0;
	list-style: none;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
.menu-content li{
	line-height: 1.5em;
}

.hamburger-button{
	z-index: 3;
	position: relative;
}

.hamburger-button .middle{
	width: 30px;
	height: 3px;
	border-radius: 2px;
	margin-top: 8px;
	margin-bottom: 8px;
	background: #000;
/*
	animation-name: hamburger-button-middle;
	animation-duration: 0.2s;
	animation-fill-mode: backwards;
	animation-direction: reverse;*/
}
.hamburger-button .bottom{
	width: 30px;
	height: 3px;
	border-radius: 2px;
	background: #000;
/*
		animation-name: hamburger-button-bottom;
	animation-duration: 0.2s;
	animation-fill-mode: backwards;
	animation-direction: reverse;*/
}

.hamburger-button .top{
	width: 30px;
	height: 3px;
	border-radius: 2px;
	background: #000;
/*
		animation-name: hamburger-button-top;
	animation-duration: 0.2s;
	animation-fill-mode: backwards;
	animation-direction: reverse;*/
}


main{
		padding-right: 15%;
	padding-left: 15%;
	padding-top: 50px;
	padding-bottom: 150px;
	background: #003ECB;
	position: relative;
}

.laptop{
	position: absolute;
    right: 270px;
    top: 305px;
}

main>.title{
	text-transform: uppercase;
	color: #89B4FC;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}
main>.main_title{
	color: #fff;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	font-family: 'Roboto';
	font-weight: 700;

}

.cards{
	width: 60%;
	display: flex;
	justify-content: space-between;
}

.card{
	background: #114DD5;
	padding:25px;
	width: 260px;
	text-align: center;

}
.card img{
	width: 60px;
	height: 60px;
	padding-top: 15px;
	padding-bottom: 20px;
}

.card .title{
	font-family: 'Roboto';
	font-weight: 500;
	color: #F2994A;
	font-size: 20px;
}

.card .description{
	color: #89B4FC;
	font-family: 'Roboto';
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 18px;
	line-height: 1.6em;
}

.card .link{
	color: #F2994A;
	font-size: 16px;
	font-family: 'Roboto';
	text-decoration: none;
	position: relative;
	padding-bottom: 5px;
}

.card .link:hover:after{
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	background: #F2994A;
	left: 0;
	bottom: 0;
	transition: width 1s;
}


.card .link:after{
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background: #F2994A;
	left: 0;
	bottom: 0;
	transition: width 1s;
}


footer{
	background: #333333;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 35%;
	padding-right: 35%;
	font-family: 'Roboto';
	color: #fff;
}



.pressed.hamburger-button .middle{
	opacity: 0;
	transition: opacity 0.2s;
}

.pressed.hamburger-button .bottom{
	transform: translateY(-11px) rotate(45deg);
	transition: transform 0.5s;
}

.pressed.hamburger-button .top{
	transform: translateY(11px) rotate(-45deg);
	transition: transform 0.5s;
}

.unpressed.hamburger-button .middle{
	opacity: 1;
	transition: opacity 0.2s;
}

.unpressed.hamburger-button .bottom{
	transform: translateY(0px) rotate(0deg);
	transition: transform 0.5s;
}

.unpressed.hamburger-button .top{
	transform: translateY(0px) rotate(0deg);
	transition: transform 0.5s;
}