body, html{
	margin: 0;
	padding: 0;
}


header{
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

header .logo{
	height: 35px;
}

.menu{
		margin-bottom: auto;
	margin-top: auto;
}
.hamburger-button{
	width: 30px;
	height: 2px;
	border-radius: 2px;
	background: #000;
	position: relative;
}
.hamburger-button::after{
	content: "";
	position: absolute;
	width: 30px;
	height: 2px;
	border-radius: 2px;
	background: #000;
	transform: translateY(8px);
}

.hamburger-button::before{
	content: "";
	position: absolute;
	width: 30px;
	height: 2px;
	border-radius: 2px;
	background: #000;
	transform: translateY(-8px);
}


main{
		padding-right: 15%;
	padding-left: 15%;
	padding-top: 50px;
	padding-bottom: 150px;
	background: #003ECB;
	position: relative;
}

.laptop{
	position: absolute;
    right: 270px;
    top: 305px;
}

main>.title{
	text-transform: uppercase;
	color: #89B4FC;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}
main>.main_title{
	color: #fff;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	font-family: 'Roboto';
	font-weight: 700;

}

.cards{
	width: 60%;
	display: flex;
	justify-content: space-between;
}

.card{
	background: #114DD5;
	padding:25px;
	width: 260px;
	text-align: center;

}
.card img{
	width: 60px;
	height: 60px;
	padding-top: 15px;
	padding-bottom: 20px;
}

.card .title{
	font-family: 'Roboto';
	font-weight: 500;
	color: #F2994A;
	font-size: 20px;
}

.card .description{
	color: #89B4FC;
	font-family: 'Roboto';
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 18px;
	line-height: 1.6em;
}

.card .link{
	color: #F2994A;
	font-size: 16px;
	font-family: 'Roboto';
	text-decoration: none;
	position: relative;
	padding-bottom: 5px;
}


.card .link:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background: #F2994A;
	left: 0;
	bottom: 0;
}

footer{
	background: #333333;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 35%;
	padding-right: 35%;
	font-family: 'Roboto';
	color: #fff;
}

